<%= @player_1_name %> vs <%= @player_2_name %><br>

<%= @player_2_name %>: <%= @player_2_hit_points %> HP <br>

<a href="/attack">
  <img src="attack_bang_CI.jpg" alt="ATTACK"
  style="width:42px;height:42px;border:0;">
</a>
